html, body {
    display: flex;
    height: 100%;
    width: 100%;
  }


body {
    justify-content: flex-start;
}

div {
    display: flex;
    background-color: none;
}

#gameover {
    color: yellow;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 90%;
    background-color: #35654D;
    margin: 30px auto;
    position: relative;    
}

.title {
    justify-content: center;
    background-color: darkred;
    border: 6px solid black;
    font-size: 100px;
    font-family: serif;
}

#wintext {
    justify-content: center;
    align-self: center;
    border: transparent;
    font-size: large;
    animation-name: ;
}

#tietext {
    justify-content: center;
    color: red;
    font-size: x-large;
}

#gameover {
    color: lime;
    animation-fill-mode: backwards;
    animation-duration: infinite;
    font-size: x-large;
    align-self: center;
    
}

#new {
    justify-self: flex-start;
    margin: 20px 0px auto 0px;
    border: 4px solid black;
    border-radius: 5px;
    align-self: center;
}

#playBtn {
    justify-content: center;
    align-self: center;
    height: 30px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

#newBtn { 
    background-color: red; 
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 5px solid black;
    border-radius: 5px;
    font-size: larger;
    font-weight: 500;
    margin-top: -30px;
    height: 40px;
    width: 150px;
} 


#scores {
    display: flex;
    justify-content: space-around;
    
}

.run {
    color: red;
    margin: 6px;
    font-size: larger;
}

#rules {
    align-items: center;
    align-self: flex-end;
    border: none;
    color: white;
}

#score_c {
    border: 3px solid black;
    background-color: lightslategrey;
}

#score_p {
    background-color: rgb(80, 213, 80);
    border: 3px solid black;
    border-right: none;

}

#center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hands {
    display: flex;
    justify-content: space-around;
}
/* player base hand */

.card.back.player {
    font-size: xx-large;

}

/* CPU base hand */
.card.back.cpu {
    justify-content: center;
    font-size: xx-large;

}

#submissions {
    display: flex;
    justify-content: center;
    align-items:flex-end;
}



