html, body {
    display: flex;
    height: 100%;
    width: 100%;
  }


body {
    justify-content: flex-start;
}

div {
    display: flex;
    background-color: none;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 90%;
    background-color: #35654D;
    margin: 30px auto;
    position: relative;    
}

#rules {
    font-size: 20px;
    color: white;
    border: 3px solid white;
}

.title {
    justify-content: center;
    background-color: darkred;
    border: 6px solid black;
    font-size: 100px;
    font-family: serif;
}

.how {
    justify-content: center;
    position:relative;
    align-self: flex-end;
    margin: 10px 10px 0px 0px;
    
    border-radius: 5px;
}

.new {
    justify-self: flex-start;
    margin: -50px 0px auto 0px;
    border: 4px solid black;
    border-radius: 5px;
    align-self: center;
    
    
}

button.how_button {
    background-color: cadetblue;
    font-weight: 500;
    font-size: small;
    height: 30px;
}

button.new_button { 
    background-color: red; 
    justify-content: center;
    align-items: center;
    font-size: larger;
    height: 40px;
    width: 150px;
} 

button.playbtn {
    height: 30px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

button.new_button { 
    background-color: red; 
    justify-content: center;
    align-items: center;
    font-size: larger;
    height: 40px;
    width: 150px;
} 

button.next {
    height: 30px;
    border-radius: 5px;
}

#scores {
    border: 3px dotted red;
    display: flex;
    justify-content: space-around;
    
}


.score_c {
    border: 3px solid black;
    background-color: lightslategrey;
}

.score_p {
    background-color: rgb(80, 213, 80);
    border: 3px solid black;
    border-right: none;

}

#hands {
    display: flex;
    justify-content: space-around;
}
/* player base hand */

.card.back.player {
    font-size: xx-large;

}

/* CPU base hand */
.card.back.cpu {
    justify-content: center;
    font-size: xx-large;

}

#submissions {
    display: flex;
    justify-content: center;
    align-items:flex-end;
}



.my.card {
    font-size: xx-large;
}

.comp.card {
    font-size: xx-large;
}

